$main-black: #1f1f1f;
$main-white: #fdfbfb;

body.dark-theme {

    nav.bg-white {
        background-color: $main-black !important;
        border-bottom: $main-black 1px solid !important;
      }
      
       .nav-link {
        color: $main-white !important;
      }
      
       .main-inner {
        background-color: $main-black !important;
      }

      .dropdown-toggle::after {  // все стрелочки на сайте
        color: #ffffff7d;
      }
      
       .h2 {
        color: $main-white !important;
      }
      
       h2 {
        color: $main-white !important;
      }
      
       h5 {
        color: $main-white !important;
      }

    a {
        color: #3ea6ff;
    }
      
       .instance-25429-header {
        color: $main-white !important;
      }
      
       #region-main {
        background-color: $main-black !important;
      }
      
    .card {  // bg всего?
        background-color: $main-black !important;
    }

    .dashboard-card {  //  мои курсы карточки
        border: 1px solid rgb(67 67 67 / 50%) !important; 
    }
      
       .categoryname {
        color: $main-white !important;
      }
    
       .form-control {
        background-color: $main-black !important;
      }
    
       .bg-white {
        background-color: $main-black !important;
      }
    
       .fa-ellipsis-v::before {
        color: $main-white !important;
      }
    
       .btn.btn-link.btn-icon:hover {
        background-color: #464646 !important;
      }
    
       #page.drawers {
        scrollbar-color: #3b3b3b $main-black;
      }
            
       .navbar a:hover {
        background-color: rgb(24, 24, 24) !important;
        color: $main-white !important;
      }

      .navbar a {
        transition: background-color 0.3s ease, color 0.3s ease;
    }
    
       .dropdown-item:hover {
        background-color: rgb(94, 94, 94);
      }
    
       .dropdown-menu {
        background-color: $main-black;
      }
    
       .dropdown-item {
        color: #b9b9b9;
      }

      .btn.btn-link.btn-icon:focus {
        background-color: #333333 !important;
      }

      .btn-link:focus {
        box-shadow: none !important;
      }


    // выпадающие меню

    .btn-outline-secondary {
        color: #ffffff7d !important;  // цвет текста
    }

    .btn-outline-secondary:hover {
        background-color: #3a3a3a;  // hover
    }

    .btn-outline-secondary:not(:disabled):not(.disabled).active, .show>.btn-outline-secondary.dropdown-toggle {
        background-color: #686868 !important;  // нажато
        color: #ffffff !important;  // цвет текста
    }

    .btn-outline-secondary:not(:disabled):not(.disabled):active {
        background-color: #808080 !important;  // click
    }

    .btn-outline-secondary:focus, .btn-outline-secondary.focus {
        box-shadow: none !important;  // обводка
    }  
} 
  
// bg image

@media (min-width: 768px){
    body.dark-theme {
        background-image: none !important;    
        background-color: #333333;
    }    
}

  