body.dark-theme nav.bg-white {
  background-color: #1f1f1f !important;
  border-bottom: #1f1f1f 1px solid !important;
}
body.dark-theme .nav-link {
  color: rgba(253, 251, 251, 0.7725490196) !important;
}
body.dark-theme .main-inner {
  background-color: #1f1f1f !important;
}
body.dark-theme .dropdown-toggle::after {
  color: rgba(255, 255, 255, 0.4901960784);
}
body.dark-theme h1 {
  color: rgba(253, 251, 251, 0.7725490196) !important;
}
body.dark-theme .h2 {
  color: rgba(253, 251, 251, 0.7725490196) !important;
}
body.dark-theme h2 {
  color: rgba(253, 251, 251, 0.7725490196) !important;
}
body.dark-theme h5 {
  color: rgba(253, 251, 251, 0.7725490196) !important;
}
body.dark-theme a {
  color: #3ea6ff;
}
body.dark-theme .login-container {
  background-color: #1f1f1f;
  box-shadow: 0 0.5rem 4rem rgba(0, 0, 0, 0.42);
}
body.dark-theme .btn-secondary {
  color: rgba(253, 251, 251, 0.7725490196);
  background-color: #1f1f1f;
  border-color: rgba(67, 67, 67, 0.5);
}
body.dark-theme .btn-secondary:hover {
  background-color: #3a3a3a;
}
body.dark-theme .border-left {
  border-left: 1px solid rgba(67, 67, 67, 0.5) !important;
}
body.dark-theme .divider {
  background-color: rgba(67, 67, 67, 0.5) !important;
}
body.dark-theme .form-control {
  color: rgba(253, 251, 251, 0.7725490196);
  border: 1px solid rgba(67, 67, 67, 0.5);
}
body.dark-theme .nav-link:hover,
body.dark-theme .active:hover {
  background-color: #3a3a3a !important;
}
body.dark-theme .login-divider {
  border-top: 1px solid rgba(67, 67, 67, 0.5);
}
body.dark-theme .modal-content {
  background-color: #1f1f1f;
}
body.dark-theme #page {
  background-image: none !important;
  background-color: #1f1f1f;
}
body.dark-theme .d-flex > h3, body.dark-theme div {
  color: rgba(253, 251, 251, 0.7725490196) !important;
}
body.dark-theme .post-content-container {
  color: rgba(253, 251, 251, 0.7725490196) !important;
}
body.dark-theme .instance-25429-header {
  color: rgba(253, 251, 251, 0.7725490196) !important;
}
body.dark-theme #region-main {
  background-color: #1f1f1f !important;
}
body.dark-theme .card {
  background-color: #1f1f1f !important;
}
body.dark-theme .dashboard-card {
  border: 1px solid rgba(67, 67, 67, 0.5) !important;
}
body.dark-theme .categoryname {
  color: rgba(253, 251, 251, 0.7725490196) !important;
}
body.dark-theme .form-control {
  background-color: #1f1f1f !important;
}
body.dark-theme .bg-white {
  background-color: #1f1f1f !important;
}
body.dark-theme .fa-ellipsis-v::before {
  color: rgba(253, 251, 251, 0.7725490196) !important;
}
body.dark-theme .btn.btn-link.btn-icon:hover {
  background-color: #464646 !important;
}
body.dark-theme #page.drawers {
  scrollbar-color: #3b3b3b #1f1f1f;
}
body.dark-theme .navbar a:hover {
  background-color: rgb(24, 24, 24) !important;
  color: rgba(253, 251, 251, 0.7725490196) !important;
}
body.dark-theme .navbar a {
  transition: background-color 0.3s ease, color 0.3s ease;
}
body.dark-theme .dropdown-item:hover {
  background-color: rgb(94, 94, 94);
}
body.dark-theme .dropdown-menu {
  background-color: #1f1f1f;
}
body.dark-theme .dropdown-item {
  color: #b9b9b9;
}
body.dark-theme .btn.btn-link.btn-icon:focus {
  background-color: #333333 !important;
}
body.dark-theme .btn-link:focus {
  box-shadow: none !important;
}
body.dark-theme .btn-outline-secondary {
  color: rgba(255, 255, 255, 0.4901960784) !important;
}
body.dark-theme .btn-outline-secondary:hover {
  background-color: #3a3a3a;
}
body.dark-theme .btn-outline-secondary:not(:disabled):not(.disabled).active, body.dark-theme .show > .btn-outline-secondary.dropdown-toggle {
  background-color: #686868 !important;
  color: #ffffff !important;
}
body.dark-theme .btn-outline-secondary:not(:disabled):not(.disabled):active {
  background-color: #808080 !important;
}
body.dark-theme .btn-outline-secondary:focus, body.dark-theme .btn-outline-secondary.focus {
  box-shadow: none !important;
}
body.dark-theme .dropdown-item.active {
  background-color: #333333;
}
body.dark-theme #paging-control-limit-container-1 {
  color: rgba(255, 255, 255, 0.4901960784) !important;
}
body.dark-theme .list-group-item, body.dark-theme .list-group-item {
  background-color: #1f1f1f !important;
}
body.dark-theme .secondary-navigation .navigation {
  border-bottom: 1px solid #1f1f1f;
  background-color: #1f1f1f;
}
body.dark-theme .moremenu .nav-tabs {
  background-color: #1f1f1f;
}
body.dark-theme .tile-bg {
  background-color: rgba(0, 0, 0, 0.42) !important;
}
body.dark-theme .tile {
  border-top-color: #3ea6ff !important;
  box-shadow: none !important;
}
body.dark-theme .tile.selected {
  border-top-color: #ffd600 !important;
}
body.dark-theme li .section {
  background-color: #1f1f1f !important;
}
body.dark-theme .activity:hover {
  background-color: #3a3a3a !important;
}
body.dark-theme .sectiontitle::after {
  background-color: #3ea6ff !important;
}
body.dark-theme .activity-item:not(.activityinline) {
  border: 1px solid rgba(67, 67, 67, 0.5);
}
body.dark-theme .course-description-item {
  background-color: #1f1f1f !important;
}
body.dark-theme .description-inner {
  color: rgba(253, 251, 251, 0.7725490196);
}
body.dark-theme li.section.main {
  background-color: #1f1f1f !important;
}

@media (min-width: 768px) {
  body.dark-theme {
    background-image: none !important;
    background-color: #333333;
  }
}/*# sourceMappingURL=style.css.map */